body{
    background: green (77,117,77);
    color: red
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;

}

header{
    border-bottom: solid 2px rgb green(42,122,228); 
}
section{
    background:rgb (184, 152, 213);
}

